.container{
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Kanit', sans-serif;
    margin: 0 0 0 0;
    background-color: aliceblue;
}
/* Navbar */
.navbar{
    flex-direction: row;
    min-height: 25%;
    background-color: orangered;
    justify-items: baseline;
}
.navbar-menu{
    align-self: center;
    flex-grow: 1;
    /* justify-self: right; */
}
.navbar-menu img{
    height: 22.5%;
    width: 22.5%;
    transform: rotate(90deg);
    transition: .5s;
    margin-left: 50%;
}
.navbar-menu img:hover{
    transform: rotate(180deg);
    transition: .5s;
    cursor: pointer;
}
.navbar-idle{
    flex-grow: 9
}
.navbar-logo{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}
.navbar-logo h1{
    margin-top: 1.0%;
    margin-bottom: 2.0%;

}
/* End navbar */
/*Main Menu */
.main-menu{
    background-color: goldenrod;
    display: none;
    flex-direction: row;
    font-size: 1.25em;
    color: black;
    justify-content: space-evenly;
    z-index: 100;
    opacity: 0.8;
}
.main-menu ul li{
    list-style: none;
    text-align: center;
    transition: .1s;
}
.main-menu ul li:hover{
    transform: scale(1.75);
    transition: .1s;
}
.main-menu ul li:first-child{
    font-size: 1.5em;

}
.main-menu ul li a{
    text-decoration: none;
    color: black;
    transition: .25s;
}
.main-menu ul li a:hover{
    color:silver;
    transition: .25s;
}
