html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Kanit', sans-serif;
    margin: 0 0 0 0;
    background-color: aliceblue;
    overflow: -moz-scrollbars-none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* header */
body::-webkit-scrollbar{
    display: none;
}
.header{
    margin-bottom: 5%;
}
/* End header */
/* Idle */
.idle{
    flex-grow: 3;
}
/* Navbar */
.navbar{
    flex-direction: row;
    min-height: 25%;
    background-color: rgba(255, 69, 0);
    justify-items: baseline;
    box-shadow: 0px 1px 2em rgba(0, 0, 0, 0.3);
}
.navbar-menu{
    align-self: center;
    flex-grow: 1;
    /* justify-self: right; */
}
.navbar-menu img{
    height: 17.5%;
    width: 17.5%;
    transition: .5s;
    margin-left: 50%;
    filter: invert(100%);
}
.navbar-menu img:hover{
    transform: scale(1.75);
    transition: .5s;
    cursor: pointer;
}
.navbar-idle{
    flex-grow: 9
}
.navbar-logo{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}
.navbar-logo h1{
    margin-top: 1.0%;
    margin-bottom: 2.0%;
    transition: 0.25s;
    letter-spacing: 0.05em;
}
.navbar-logo a{
    text-decoration: none;
    color: white;
}
.navbar-logo h1:hover{
    transform: scale(1.25, 1.25);
    transition: .1s;
}
/* End navbar */
/*Main Menu */
.main-menu{
    background-color: rgba(255, 69, 0, .875);
    display: none;
    flex-direction: column;
    font-size: 1.25em;
    align-items: center;
    opacity: 0.5;
    margin-bottom: -25.4%;
    z-index: 111;
}
.main-menu :only-child{
    z-index: inherit;
}
.main-menu .main-menu-row{
    flex-direction: row;
    display: inherit;
    justify-content: space-evenly;
}
.main-menu ul{
    text-align: center;
}
.main-menu ul li{
    list-style: none;
    text-align: center;
    transition: .1s;
    font-size: .85em;
}
.main-menu ul li:hover{
    transform: scale(1.75);
    transition: .1s;
}

.main-menu ul li a{
    text-decoration: none;
    color: black;
    transition: .25s;
}
.main-menu ul li a:hover{
    color:rgba(36, 36, 168, 0.95);
    transition: .25s;
}
.main-menu ul h2{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.25em;
    transition: .15s;
}
.main-menu ul h2:hover{
    transform: scale(1.25);
    transition: .15s;
}
.main-menu ul h2 a{
    text-decoration: none;
    color: black;
}
.main-menu ul h2 a:hover{
    color: rgba(36, 36, 168, 1);
}
/* End menu */
/* to top navigatop */
#chevron-up{
    display: inline-block;
    z-index: 110;
    width: 2em;
    height: 2em;
    position: fixed;
    left: 95%;
    top: 85%;
    opacity: 0.4;
    transition: 0.15s;
}
#chevron-up:hover{
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.5);
    opacity: 0.75;
}
/* top top end */
/* Main page */
.main-page{
    display: flex;
    flex: 1;
    justify-content: space-between
}
.main-page-title{
    font-size: 3em;
    margin-bottom: 10%;    
}
.main-page-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    align-items: baseline;
}
.main-page-menu-items h1{
    font-size: 2em;
    border-bottom: 0.05em;
    border-bottom-style: solid;
    border-bottom-color: grey;
    transition: 0.5s;
}
.main-page-menu-items h1 a{
    text-decoration: none;
    color: black;
}
.main-page-menu-items h1:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
.main-page-menu-items h1 a:hover{
    color: rgba(255, 69, 0, .875);
}
.main-page-menu-items{
    flex-direction: column;
}
.main-page-menu-items ul{
    list-style-type: none;
    padding-left: 20%;
}
.main-page-menu-items ul li{
    text-align: start;
    font-size: 1.25em;
    transition: 0.5s;
}
.main-page-menu-items ul li:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
.main-page-menu-items ul li a{
    text-decoration: none;
    color: black;
}
/* Info Block */
.information-block{
    flex-direction: column;
    text-align: center;
    padding-right: 10%;
}
.information-block-title{
    font-size: 2em;
}
/* footer */
.footer{
    display: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    flex-shrink: 3;
    padding-left: 10%;
    padding-right: 10%;
}