html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Kanit', sans-serif;
    margin: 0 0 0 0;
    background-color: aliceblue;
}
/* header */
.header{
}
/* End header */
/* Navbar */
.navbar{
    flex-direction: row;
    min-height: 25%;
    background-color: orangered;
    justify-items: baseline;
}
.navbar-menu{
    align-self: center;
    flex-grow: 1;
    /* justify-self: right; */
}
.navbar-menu img{
    height: 22.5%;
    width: 22.5%;
    transform: rotate(90deg);
    transition: .5s;
    margin-left: 50%;
}
.navbar-menu img:hover{
    transform: rotate(180deg);
    transition: .5s;
    cursor: pointer;
}
.navbar-idle{
    flex-grow: 9
}
.navbar-logo{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}
.navbar-logo h1{
    margin-top: 1.0%;
    margin-bottom: 2.0%;

}
/* End navbar */
/*Main Menu */
.main-menu{
    background-color: goldenrod;
    display: none;
    flex-direction: column;
    font-size: 1.25em;
    color: black;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
}
.main-menu .main-menu-row{
    flex-direction: row;
    display: inherit;
    justify-content: space-evenly;
}
.main-menu ul{
    text-align: center;
}
.main-menu ul li{
    list-style: none;
    text-align: center;
    transition: .1s;
    font-size: .75em;
}
.main-menu ul li:hover{
    transform: scale(1.75);
    transition: .1s;
}

.main-menu ul li a{
    text-decoration: none;
    color: black;
    transition: .25s;
}
.main-menu ul li a:hover{
    color:grey;
    transition: .25s;
}
.main-menu ul h2{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
    transition: .15s;
}
.main-menu ul h2:hover{
    transform: scale(1.25);
    transition: .15s;
}
.main-menu ul h2 a{
    text-decoration: none;
    color: black;
}
.main-menu ul h2 a:hover{
    color: midnightblue;
}
/* End menu */
/* to top navigatop */
#chevron-up{
    display: inline-block;
    z-index: 110;
    width: 2em;
    height: 2em;
    position: fixed;
    left: 95%;
    top: 70%;
    opacity: 0.4;
    transition: 0.15s;
}
#chevron-up:hover{
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.5);
    opacity: 0.75;
}
/* top top end */
/* Info Block */
.information-block{
    flex-direction: column;
    text-align: center;
}
.information-block-title{
    font-size: 2em;
}
