.content-header{
    color: rgb(68,132,206); 
    font-size: 4em;
}
.content-sub_header{
    font-size: 2em;
    text-align: start;
}

.h3-header{
    font-size: 1.5em;
    text-align: start;
}

.content-inner{
    font-size: 1.2em;
}
ul{
    padding-right: 0.5em;
}
li{
    list-style-type: none;
    font-size: 1.2em;
    transition: 0.25s;
    margin-top: 1.25%;
}
#arr-img{
    width: 50%;
    height: 50%;
    align-self: center;
    margin-bottom: 5%;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
a:hover{
    color: rgb(68,132,206);
    transition: .25s;
}
li:hover{
    transition: .25s;
    transform: scale(1.15);
}
#sort-vids{
    min-height: 50%;
    min-width: 50%;
    align-self: center;
}
.ins-img{
    width: 30%;
    align-self: flex-start;
    margin-top: 5%;

}
.pseudocode-img{
    width: 40%;
    align-self: center;
    margin-top: 5%;
}
#pseudo_createlist{
    width: 50%;
    align-self: center;
    margin-top: 3%;
}

#doubly-img{
    width: 70%;
    align-self: center;
    margin-top: 3%;
}

#doubly-insertion{
    width: 70%;
    align-self: center;
    margin-top: 3%;
}

#doubly-deletion{
    width: 70%;
    align-self: center;
    margin-top: 3%;
}

.ins-gif{
    width: 50%;
    height: 50%;
    align-self: center;
}

#bst-insert-img{
    width: 40%;
    align-self: center;
    margin-top: 3%;
}
#bst-insert-pseudo{
    width: 50%;
    align-self: center;
    margin-top: 3%;
}

.huffman-tree-img{
    width: 40%;
    align-self: center;
    margin-top: 3%;
}

.avl-tree-img{
    width: 40%;
    align-self: center;
    margin-top: 3%;
}

.adt-img{
    width: 70%;
    align-self: center;
    margin-top: 3%;
}