#content-header{
    color: red; 
    font-size: 4em;
}
.content-sub_header{
    font-size: 2em;
    text-align: start;
}

.h3-header{
    font-size: 1.5em;
    text-align: start;
}

.content-inner{
    font-size: 1.2em;
}
ul{
    padding: 0.5em;
}
li{
    list-style-type: none;
    font-size: 1.2em;
}
#arr-img{
    width: 50%;
    height: 50%;
    align-self: center;
    margin-bottom: 10%;
}